In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import regex
import numpy as np

In [149]:
# Q1: Write a python program to display all the header tags from wikipedia.org.

def Wiki(url):
    r = requests.get(url)
    soup = bs(r.content)       
    headers_wiki = soup.find_all(["h1","h2","h3","h4","h5","h6"])
    
    for i in headers_wiki:
        print(i,"\n")

Headers_wiki= Wiki("https://en.wikipedia.org/wiki/Main_Page")

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [151]:
# Q2: Write a python program to display IMDBâs Top rated 100 moviesâ data (i.e. name, rating, year of release) and make a dataframe

def imdb(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    titles = soup.find_all("td",class_="titleColumn",limit=100) 
    movie_names=[]
    for x in titles:
        name = x.find('a').text
        movie_names.append(name)
        
    movie_years= soup.find_all("span", class_="secondaryInfo",limit=100)
    years=[]
    for x in movie_years:
        year = x.get_text()[1:5]
        years.append(year)
    
    movie_ratings= soup.find_all("strong",limit=100)
    ratings= []
    for x in movie_ratings:
        rating= x.get_text()
        ratings.append(rating)
        
    imdb_movies= pd.DataFrame({'Title':movie_names,'Rating':ratings,'Year':years})
    
    return imdb_movies

imdb_100 = imdb("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
imdb_100.style.hide_index()

In [152]:
# Q3: Write a python program to display IMDBâs Top rated 100 Indian moviesâ data (i.e. name, rating, year of release) and make data frame.

def imdb_India(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    titles = soup.find_all("td",class_="titleColumn",limit=100) 
    movie_names=[]
    for x in titles:
        name = x.find('a').text
        movie_names.append(name)
        
    movie_years= soup.find_all("span", class_="secondaryInfo",limit=100)
    years=[]
    for x in movie_years:
        year = x.get_text()[1:5]
        years.append(year)
    
    movie_ratings= soup.find_all("strong",limit=100)
    ratings= []
    for x in movie_ratings:
        rating= x.get_text()
        ratings.append(rating)
        
    imdb_movies= pd.DataFrame({'Title':movie_names,'Rating':ratings,'Year':years})
    
    return imdb_movies

imdb_100 = imdb("https://www.imdb.com/india/top-rated-indian-movies/")
imdb_100.style.hide_index()

In [153]:
# Q4: Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

def Presidents_India(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    presidents= soup.find_all("div",class_="presidentListing")

    names= []
    for x in presidents:
        name_of_prez=x.find("h3")
        name = name_of_prez.get_text()
        name_= name.split("(")
        names.append(name_[0])
        
        
    terms= []
    for x in presidents:
        president= x.find("p").get_text()[16:]
        terms.append(president)
        
    presidents= pd.DataFrame({'Name':names,'Term':terms})
    
    return presidents

Presidents = Presidents_India("https://presidentofindia.nic.in/former-presidents.htm")
Presidents.style.hide_index()

In [117]:
# Q5(a): Top 10 ODI teams in menâs cricket along with the records for matches, points and rating.

def ICC_Teams(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    teams= soup.find_all("span",class_="u-hide-phablet", limit=10)
    team_names=[]
    for x in teams:
        team= x.get_text()
        team_names.append(team)
             
        
    matches_rank1= soup.find("td",class_="rankings-block__banner--matches").get_text()
    points_rank1= soup.find("td",class_="rankings-block__banner--points").get_text()
    rating_rank1= soup.find("td",class_="rankings-block__banner--rating u-text-right").get_text()[29:32]
    rank1_data= [team_names[0],matches_rank1,points_rank1,rating_rank1]
    team_names.pop(0)
        
    matches_points= soup.find_all("td",class_="table-body__cell u-center-text",limit=18)
    combined_list=[]

    for i in matches_points:
        mp= i.get_text()
        combined_list.append(mp)
    
    matches= combined_list[::2]
    points= combined_list[1::2]

    ratings_data= soup.find_all("td",class_="table-body__cell u-text-right rating",limit=9)
    ratings_list=[]
    for i in ratings_data:
        rating= i.get_text()
        ratings_list.append(rating)  
        

    teams_rank2_onwards= pd.DataFrame({'Country':team_names,'Matches':matches,'Points':points,'Rating':ratings_list})
        
    df_rank1= pd.DataFrame({'Country':[rank1_data[0]],'Matches':[rank1_data[1]],'Points':[rank1_data[2]],'Rating':[rank1_data[3]]})   
        
    final_df= pd.concat([df_rank1,teams_rank2_onwards],axis=0)  
               
    
    return final_df

ICC_Top_Teams = ICC_Teams("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
ICC_Top_Teams.style.hide_index()

In [154]:
# Q5(b): Top 10 ODI Batsmen along with the records of their team and rating.

def ICC_Batsmen(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    rank1_name= soup.find("div",class_="rankings-block__banner--name").get_text()
    rank1_country = soup.find("div",class_="rankings-block__banner--nationality").get_text()[2:5]
    rank1_rating = soup.find("div",class_="rankings-block__banner--nationality").get_text()[34:37]

    rank1_df= pd.DataFrame({'Name':[rank1_name],'Team':[rank1_country],'Rating':[rank1_rating]})
    
    names= soup.find_all("td",class_="table-body__cell name",limit=9)
    player_names=[]
    for i in names:
        name= i.get_text()
        name= name.split("\n")
        player_names.append(name[1])
        
    countries= soup.find_all("span",class_="table-body__logo-text",limit=9)
    player_countries=[]
    for i in countries:
        country= i.get_text()
        player_countries.append(country)
        
    ratings= soup.find_all("td",class_="table-body__cell u-text-right rating",limit=9)
    player_ratings=[]

    for i in ratings:
        rating= i.get_text()
        player_ratings.append(rating)
      
    rank2_onwards_df= pd.DataFrame({'Name':player_names,'Team':player_countries,'Rating':player_ratings})
    
    final_df= pd.concat([rank1_df,rank2_onwards_df],axis=0)
    
    return(final_df)


ICC_Top_Batsmen = ICC_Batsmen("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
ICC_Top_Batsmen.style.hide_index()

In [155]:
# Q5(c): Top 10 ODI bowlers along with the records of their team and rating.

def ICC_Bowler(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    rank1_name= soup.find_all("div",class_="rankings-block__banner--name")
    rank1_name= rank1_name[1].get_text()
    rank1_country= soup.find_all("div",class_="rankings-block__banner--nationality")
    rank1_country= rank1_country[1].get_text()[2:5]
    rank1_rating= soup.find_all("div",class_="rankings-block__banner--nationality")
    rank1_rating= rank1_rating[1].get_text()[33:36]

    rank1_df= pd.DataFrame({'Name':[rank1_name],'Team':[rank1_country],'Rating':[rank1_rating]})
    
    names= soup.find_all("td",class_="table-body__cell name",limit=18)
    player_names=[]
    count=0
    for i in names:
        if (count>=9):
            name= i.get_text()
            name= name.split("\n")
            player_names.append(name[1])
        count+=1
        
    countries= soup.find_all("span",class_="table-body__logo-text",limit=18)
    player_countries=[]
    count=0
    for i in countries:
        if (count>=9):
            country= i.get_text()
            player_countries.append(country)
        count+=1
        
    ratings= soup.find_all("td",class_="table-body__cell u-text-right rating",limit=18)
    player_ratings=[]
    count=0
    for i in ratings:
        if count>=9:
            rating= i.get_text()
            player_ratings.append(rating)
        count+=1
      
    rank2_onwards_df= pd.DataFrame({'Name':player_names,'Team':player_countries,'Rating':player_ratings})
    
    final_df= pd.concat([rank1_df,rank2_onwards_df],axis=0)
    
    return(final_df)


ICC_Top_Bowler = ICC_Bowler("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
ICC_Top_Bowler.style.hide_index()

In [156]:
# Q6(a): Top 10 ODI teams in womenâs cricket along with the records for matches, points and rating.

def ICC_Teams(url):
    r = requests.get(url)
    soup = bs(r.content)
    
    teams= soup.find_all("span",class_="u-hide-phablet", limit=10)
    team_names=[]
    for x in teams:
        team= x.get_text()
        team_names.append(team)
             
        
    matches_rank1= soup.find("td",class_="rankings-block__banner--matches").get_text()
    points_rank1= soup.find("td",class_="rankings-block__banner--points").get_text()
    rating_rank1= soup.find("td",class_="rankings-block__banner--rating u-text-right").get_text()[29:32]
    rank1_data= [team_names[0],matches_rank1,points_rank1,rating_rank1]
    team_names.pop(0)
        
    matches_points= soup.find_all("td",class_="table-body__cell u-center-text",limit=18)
    combined_list=[]

    for i in matches_points:
        mp= i.get_text()
        combined_list.append(mp)
    
    matches= combined_list[::2]
    points= combined_list[1::2]

    ratings_data= soup.find_all("td",class_="table-body__cell u-text-right rating",limit=9)
    ratings_list=[]
    for i in ratings_data:
        rating= i.get_text()
        ratings_list.append(rating)  
        

    teams_rank2_onwards= pd.DataFrame({'Country':team_names,'Matches':matches,'Points':points,'Rating':ratings_list})
        
    df_rank1= pd.DataFrame({'Country':[rank1_data[0]],'Matches':[rank1_data[1]],'Points':[rank1_data[2]],'Rating':[rank1_data[3]]})   
        
    final_df= pd.concat([df_rank1,teams_rank2_onwards],axis=0)  
               
    
    return final_df

ICC_Top_Teams = ICC_Teams("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
ICC_Top_Teams.style.hide_index()

In [157]:
# Q6(b): Top 10 womenâs ODI Batting players along with the records of their team and rating.

def ICC_Batsmen(url):

    r = requests.get(url)
    soup = bs(r.content)

    rank1_name= soup.find("div",class_="rankings-block__banner--name-large").get_text()
    rank1_country = soup.find("div",class_="rankings-block__banner--nationality").get_text()[2:5]
    rank1_rating = soup.find("div",class_="rankings-block__banner--rating").get_text()

    rank1_df= pd.DataFrame({'Name':[rank1_name],'Team':[rank1_country],'Rating':[rank1_rating]})

    names= soup.find_all("td",class_="table-body__cell rankings-table__name name",limit=9)
    player_names=[]
    for i in names:
        name= i.get_text()
        name= name.split("\n")
        player_names.append(name[1])

    countries= soup.find_all("span",class_="table-body__logo-text",limit=9)
    player_countries=[]
    for i in countries:
        country= i.get_text()
        player_countries.append(country)

    ratings= soup.find_all("td",class_="table-body__cell rating",limit=9)
    player_ratings=[]

    for i in ratings:
        rating= i.get_text()
        player_ratings.append(rating)

    rank2_onwards_df= pd.DataFrame({'Name':player_names,'Team':player_countries,'Rating':player_ratings})

    final_df= pd.concat([rank1_df,rank2_onwards_df],axis=0)
    
    return final_df

ICC_Top_Batsmen = ICC_Batsmen("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
ICC_Top_Batsmen.style.hide_index()

In [158]:
# Q6(c): Top 10 womenâs ODI all-rounder along with the records of their team and rating.

def ICC_AllRounders(url):

    r = requests.get(url)
    soup = bs(r.content)

    rank1_name= soup.find("div",class_="rankings-block__banner--name-large").get_text()
    rank1_country = soup.find("div",class_="rankings-block__banner--nationality").get_text()[2:5]
    rank1_rating = soup.find("div",class_="rankings-block__banner--rating").get_text()

    rank1_df= pd.DataFrame({'Name':[rank1_name],'Team':[rank1_country],'Rating':[rank1_rating]})

    names= soup.find_all("td",class_="table-body__cell rankings-table__name name",limit=9)
    player_names=[]
    for i in names:
        name= i.get_text()
        name= name.split("\n")
        player_names.append(name[1])

    countries= soup.find_all("span",class_="table-body__logo-text",limit=9)
    player_countries=[]
    for i in countries:
        country= i.get_text()
        player_countries.append(country)

    ratings= soup.find_all("td",class_="table-body__cell rating",limit=9)
    player_ratings=[]

    for i in ratings:
        rating= i.get_text()
        player_ratings.append(rating)

    rank2_onwards_df= pd.DataFrame({'Name':player_names,'Team':player_countries,'Rating':player_ratings})

    final_df= pd.concat([rank1_df,rank2_onwards_df],axis=0)
    
    return final_df

ICC_Top_AllRounders = ICC_AllRounders("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
ICC_Top_AllRounders.style.hide_index()

In [159]:
# Q7: Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world : 
# i) Headline ii) Time iii) News Link

def CNBC_Headlines(url):
    
    r = requests.get(url)
    soup = bs(r.content)
    
    headlines= soup.find_all("div",class_="LatestNews-container")
    
    for i in headlines:
        headline= i.find("a",class_="LatestNews-headline").get_text()
        print(headline)
        time= i.find("time",class_="LatestNews-timestamp").get_text()
        print("Published",time)
        link= i.find("a",class_="LatestNews-headline", href= True)
        print("Link:",link['href'],"\n")
        
Headlines= CNBC_Headlines("https://www.cnbc.com/world/?region=world")

A winning $1 million Mega Millions ticket is about to expire
Published 17 Min Ago
Link: https://www.cnbc.com/2022/06/29/a-mega-millions-ticket-worth-1-million-is-about-to-expire.html

LVMH buys California wine giant Joseph Phelps as high-end drinks market soars
Published 23 Min Ago
Link: https://www.cnbc.com/2022/06/29/lvmh-buys-california-wine-giant-joseph-phelps-as-high-end-drinks-market-soars.html

25-year-old TikTok creator with 7 million followers saves 50% of her income
Published 30 Min Ago
Link: https://www.cnbc.com/2022/06/29/why-tiktoks-brittany-broski-saves-50-percent-of-her-income.html

Bed Bath & Beyond says it's still open to selling its Buybuy Baby division
Published 41 Min Ago
Link: https://www.cnbc.com/2022/06/29/bed-bath-beyond-says-its-still-open-to-selling-its-buybuy-baby-division.html

Unilever reaches deal to keep selling Ben & Jerry's ice cream in Israel
Published 48 Min Ago
Link: https://www.cnbc.com/2022/06/29/unilever-reaches-deal-to-keep-selling-ben-jerrys-ice-cream-in-israel.html

Powell vows to prevent inflation from taking long-run hold in the U.S.
Published 49 Min Ago
Link: https://www.cnbc.com/2022/06/29/powell-vows-to-prevent-inflation-from-taking-long-run-hold-in-the-us.html

We're trimming a stock we like that's rallying to replenish some cash
Published 51 Min Ago
Link: https://www.cnbc.com/2022/06/29/investing-club-were-trimming-a-stock-we-like-thats-rallying-to-replenish-some-cash.html

DOJ says the U.S. and allies have frozen $30 billion of Russian elites' assets
Published 1 Hour Ago
Link: https://www.cnbc.com/2022/06/29/doj-says-allies-have-frozen-30-billion-of-russian-oligarch-assets.html

Goldman expects weak Tesla results, recommends these EV plays
Published 1 Hour Ago
Link: https://www.cnbc.com/2022/06/29/goldman-expects-weak-tesla-results-recommends-these-ev-plays.html

What to do if your new job offer gets rescinded, according to HR experts
Published 1 Hour Ago
Link: https://www.cnbc.com/2022/06/29/hr-experts-what-to-do-if-your-new-job-offer-gets-rescinded.html

Starz could turn into an 'acquisition machine' after Lionsgate spins it off
Published 2 Hours Ago
Link: https://www.cnbc.com/2022/06/29/starz-could-turn-into-acquisition-machine-after-spinoff-from-lionsgate.html

NATO deal between Turkey, Sweden and Finland brings home wins for Erdogan
Published 2 Hours Ago
Link: https://www.cnbc.com/2022/06/29/nato-deal-between-turkey-sweden-and-finland-brings-wins-for-erdogan.html

Jim Chanos debuts new short bets against data centers, sending shares down
Published 2 Hours Ago
Link: https://www.cnbc.com/2022/06/29/jim-chanos-debuts-new-short-bets-against-data-centers-sending-shares-down.html

This 42-year-old CEO used $3,000 in savings to build a $1.2 billion food startup
Published 2 Hours Ago
Link: https://www.cnbc.com/2022/06/29/eat-just-ceo-from-3000-in-savings-to-1point2-billion-food-startup.html

Watch for these 4 red flags at job interviews, warns Harvard biz expert: 'You don't want to work there'
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/watch-for-these-red-flags-during-the-job-interview-says-harvard-business-and-ethics-expert.html

Goldman's stock picks for the multitrillion dollar ESG opportunity ahead
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/goldmans-stock-picks-for-the-multitrillion-dollar-esg-opportunity-ahead.html

Snap announces Snapchat+ subscription plan that costs $3.99 a month
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/snapchat-plus-subscription-plan-price-release.html

Jim Cramer invested $100 a month in his 20sâeven while living in his car
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/jim-cramer-i-invested-money-even-when-i-lived-in-my-car.html

Crypto exchange CoinFlex claims 'Bitcoin Jesus' is the investor behind $47 million debt
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/crypto-exchange-coinflex-claims-roger-ver-is-behind-47-million-debt.html

Another crypto 'washout' is coming before investors should buy, Fundstrat says
Published 3 Hours Ago
Link: https://www.cnbc.com/2022/06/29/theres-another-crypto-washout-coming-before-investors-should-buy-fundstrat-says.html

3 ways the Supreme Court's decision on Roe could hurt women in the workplace
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/supreme-court-abortion-decision-could-hurt-women-in-the-workplace.html

Buy now, pay later refunds can get complicated: What to know before you shop
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/buy-now-pay-later-loans-can-get-complicated-when-you-want-a-refund.html

What Cramer is watching Wednesday â mass chip price-target cuts, lots of C-suite changes
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/what-cramer-is-watching-wednesday-mass-chip-price-target-cuts-lots-of-c-suite-changes.html

Watch Fed Chair Powell talk live about the economy, interest rates at ECB forum
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/watch-fed-chair-powell-talk-live-about-the-economy-interest-rates-at-ecb-forum-.html

Wednesday's top analyst calls: Tesla, Goldman Sachs, Penn, Amazon, McDonald's
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/-wednesday-street-calls-tesla-goldman-sachs-amazon-mcdonalds-.html

Analysts still see earnings rising even as the U.S. teeters on a recession
Published 4 Hours Ago
Link: https://www.cnbc.com/2022/06/29/head-scratcher-analysts-still-see-earnings-rising-this-year-even-as-the-us-teeters-on-a-recession.html

Congested Port of Oakland slashing free wait time for import containers
Published 5 Hours Ago
Link: https://www.cnbc.com/2022/06/29/port-of-oakland-slashing-free-wait-time-for-import-containers.html

Delta offers free flight changes over July Fourth weekend
Published 5 Hours Ago
Link: https://www.cnbc.com/2022/06/29/delta-offers-free-flight-changes-over-july-fourth-weekend.html

âWe are in a hybrid war,â German foreign minister says amid energy crisis
Published 5 Hours Ago
Link: https://www.cnbc.com/2022/06/29/russia-ukraine-war-germany-concerned-amid-deepening-energy-crisis.html

Crypto hedge fund Three Arrows Capital plunges into liquidation as market crash takes toll
Published 5 Hours Ago
Link: https://www.cnbc.com/2022/06/29/crypto-hedge-fund-three-arrows-capital-plunges-into-liquidation.html

In [160]:
# Q8: Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title
# ii) Authors
# iii) Published Date
# iv) Paper URL

def Journals(url):
    r= requests.get(url)
    soup= bs(r.content)

    data= soup.find_all("li",class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")

    for i in data:

        paper_title= i.find("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR").get_text()
        print("Title:",paper_title)

        author_data= i.find("span",class_="sc-1w3fpd7-0 pgLAT").get_text()
        print("Author(s):",author_data)

        date_data= i.find("span",class_="sc-1thf9ly-2 bKddwo").get_text()
        print("Published:",date_data)

        link= i.find("a",class_="sc-5smygv-0 nrDZj", href= True)
        print("Link:",link["href"],"\n")
        
AI_Journals= Journals("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

Title: Reward is enough
Author(s): Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.
Published: October 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000862

Title: Making sense of raw input
Author(s): Evans, Richard, BoÅ¡njak, Matko and 5 more
Published: October 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000722

Title: Law and logic: A review from an argumentation perspective
Author(s): Prakken, Henry, Sartor, Giovanni
Published: October 2015
Link: https://www.sciencedirect.com/science/article/pii/S0004370215000910

Title: Creativity and artificial intelligence
Author(s): Boden, Margaret A.
Published: August 1998
Link: https://www.sciencedirect.com/science/article/pii/S0004370298000551

Title: Artificial cognition for social humanârobot interaction: An implementation
Author(s): Lemaignan, SÃ©verin, Warnier, Mathieu and 3 more
Published: June 2017
Link: https://www.sciencedirect.com/science/article/pii/S0004370216300790

Title: Explanation in artificial intelligence: Insights from the social sciences
Author(s): Miller, Tim
Published: February 2019
Link: https://www.sciencedirect.com/science/article/pii/S0004370218305988

Title: Making sense of sensory input
Author(s): Evans, Richard, HernÃ¡ndez-Orallo, JosÃ© and 3 more
Published: April 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370220301855

Title: Conflict-based search for optimal multi-agent pathfinding
Author(s): Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.
Published: February 2015
Link: https://www.sciencedirect.com/science/article/pii/S0004370214001386

Title: Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning
Author(s): Sutton, Richard S., Precup, Doina, Singh, Satinder
Published: August 1999
Link: https://www.sciencedirect.com/science/article/pii/S0004370299000521

Title: The Hanabi challenge: A new frontier for AI research
Author(s): Bard, Nolan, Foerster, Jakob N. and 13 more
Published: March 2020
Link: https://www.sciencedirect.com/science/article/pii/S0004370219300116

Title: Evaluating XAI: A comparison of rule-based and example-based explanations
Author(s): van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark
Published: February 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370220301533

Title: Argumentation in artificial intelligence
Author(s): Bench-Capon, T.J.M., Dunne, Paul E.
Published: October 2007
Link: https://www.sciencedirect.com/science/article/pii/S0004370207000793

Title: Algorithms for computing strategies in two-player simultaneous move games
Author(s): BoÅ¡anskÃ½, Branislav, LisÃ½, Viliam and 3 more
Published: August 2016
Link: https://www.sciencedirect.com/science/article/pii/S0004370216300285

Title: Multiple object tracking: A literature review
Author(s): Luo, Wenhan, Xing, Junliang and 4 more
Published: April 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370220301958

Title: Selection of relevant features and examples in machine learning
Author(s): Blum, Avrim L., Langley, Pat
Published: December 1997
Link: https://www.sciencedirect.com/science/article/pii/S0004370297000635

Title: A survey of inverse reinforcement learning: Challenges, methods and progress
Author(s): Arora, Saurabh, Doshi, Prashant
Published: August 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000515

Title: Explaining individual predictions when features are dependent: More accurate approximations to Shapley values
Author(s): Aas, Kjersti, Jullum, Martin, LÃ¸land, Anders
Published: September 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000539

Title: A review of possible effects of cognitive biases on interpretation of rule-based machine learning models
Author(s): Kliegr, TomÃ¡Å¡, BahnÃ­k, Å tÄpÃ¡n, FÃ¼rnkranz, Johannes
Published: June 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000096

Title: Integrating social power into the decision-making of cognitive agents
Author(s): Pereira, GonÃ§alo, Prada, Rui, Santos, Pedro A.
Published: December 2016
Link: https://www.sciencedirect.com/science/article/pii/S0004370216300868

Title: âThat's (not) the output I expected!â On the role of end user expectations in creating explanations of AI systems
Author(s): Riveiro, Maria, Thill, Serge
Published: September 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000588

Title: Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies
Author(s): Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.
Published: May 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000102

Title: Algorithm runtime prediction: Methods & evaluation
Author(s): Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin
Published: January 2014
Link: https://www.sciencedirect.com/science/article/pii/S0004370213001082

Title: Wrappers for feature subset selection
Author(s): Kohavi, Ron, John, George H.
Published: December 1997
Link: https://www.sciencedirect.com/science/article/pii/S000437029700043X

Title: Commonsense visual sensemaking for autonomous driving â On generalised neurosymbolic online abduction integrating vision and semantics
Author(s): Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna
Published: October 2021
Link: https://www.sciencedirect.com/science/article/pii/S0004370221000734

Title: Quantum computation, quantum theory and AI
Author(s): Ying, Mingsheng
Published: February 2010
Link: https://www.sciencedirect.com/science/article/pii/S0004370209001398

In [161]:
# Q9: Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

def Restaurants(url):

    r= requests.get(url)
    soup= bs(r.content)

    data= soup.find_all("div",class_="restnt-main-wrap clearfix")
    
    for i in data:

        name= i.find("a",class_="restnt-name ellipsis").get_text()
        print(" ",name)

        cuisine_data= i.find("span",class_="double-line-ellipsis").get_text()
        cuisine= cuisine_data.split("|")
        print("",cuisine[1])

        location= i.find("div",class_="restnt-loc ellipsis").get_text()
        print(" ",location)

        rating= i.find("div",class_="restnt-rating rating-4").get_text()
        print(" ",rating)

        restaurant_picture= i.find("img",class_="no-img")
        print("  Picture Link: \n",restaurant_picture['data-src'],"\n")
    
Restaurant_Details= Restaurants("https://www.dineout.co.in/delhi-restaurants/buffet-special")

  Castle Barbeque
  North Indian, Chinese
  Connaught Place, Central Delhi
  3.5
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium

  Jungle Jamboree
  North Indian, Asian, Italian
  3CS Mall,Lajpat Nagar - 3, South Delhi
  3.9
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium

  Castle Barbeque
  Chinese, North Indian
  Pacific Mall,Tagore Garden, West Delhi
  3.9
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium

  Cafe Knosh
  Italian, Continental
  The Leela Ambience Convention Hotel,Shahdara, East Delhi
  4.3
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium

  The Barbeque Company
  North Indian, Chinese
  Gardens Galleria,Sector 38A, Noida
  4
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium

  India Grill
  North Indian, Italian
  Hilton Garden Inn,Saket, South Delhi
  3.9
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium

  Delhi Barbeque
  North Indian
  Taurus Sarovar Portico,Mahipalpur, South Delhi
  3.7
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium

  The Monarch - Bar Be Que Village
  North Indian
  Indirapuram Habitat Centre,Indirapuram, Ghaziabad
  3.8
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium

  World Cafe
  North Indian, Italian
  Vibe by The Lalit Traveller,Sector 35, Faridabad
  4.3
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium

  Indian Grill Room
  North Indian, Mughlai
  Suncity Business Tower,Golf Course Road, Gurgaon
  4.3
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium

  Mad 4 Bar B Que
  North Indian
  Sector 29, Faridabad
  3.6
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium

  Barbeque 29
  North Indian, Mughlai, Desserts, Beverages
  NIT, Faridabad
  4.2
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium

  Glasshouse
  European, Italian, Asian, Continental
  DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon
  4
  Picture Link:
 https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium

In [162]:
# Q10: Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank
# ii) Publication
# iii) h5-index
# iv) h5-median

def google_scholar(url):
    
    r= requests.get(url)
    soup= bs(r.content)
    
    rank_data= soup.find_all("td",class_="gsc_mvt_p")
    ranks=[]

    for i in rank_data:
        rank= i.get_text()
        ranks.append(rank)
        
    pub_data= soup.find_all("td",class_="gsc_mvt_t")
    pubs=[]

    for i in pub_data:
        pub= i.get_text()
        pubs.append(pub)
    
    index_median_data= soup.find_all("td",class_="gsc_mvt_n")
    combined_data=[]

    for i in index_median_data:
        im= i.get_text()
        combined_data.append(im)

    h5_index= combined_data[::2]
    h5_median= combined_data[1::2]
    
    final_df= pd.DataFrame({'Rank':ranks,'Publication':pubs,'h5-index':h5_index,'h5-median':h5_median})
    
    return(final_df)

Google_Scholar_Pubs= google_scholar("https://scholar.google.com/citations?view_op=top_venues&hl=en")
Google_Scholar_Pubs.style.hide_index()